.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 50rem;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: rgb(32, 120, 150);
}

body {
  background-color: rgb(241, 248, 250);
}

* {
  font-family: "Roboto Mono", monospace;
}

.loading-banner {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
